---
import PageLayout from "../../layouts/MainLayout.astro";

import { getCollection } from "astro:content";

import { SITE_BLOG_DESCRIPTION, SITE_TITLE } from "../../consts";
import PostsList from "../../components/PostsList.astro";

const collection = await getCollection("blog");

const posts = collection.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<PageLayout title={SITE_TITLE} description={SITE_BLOG_DESCRIPTION}>
  <main class="wrapper">
    <PostsList posts={posts} />
  </main>
</PageLayout>

<style>
  .wrapper {
    max-width: 640px;
  }
</style>
