@import "tailwindcss";

@theme {
    --font-heading: 'Source Sans Pro', sans-serif;
    --font-body:  "Open Sans", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue" "Arial", "sans-serif";
    --color-accent: #FF4C60;
    --color-light_grey: #e5e7eb;
}

.expressive-code {
    margin-left: -20px;
    margin-right: -20px;
}