<footer class="footer">
    <ul class="ul">
        <li class="li"><a href="/about-me">About</a></li>
        <li class="li"><a href="/uses">/uses</a></li>
    </ul>

    <div class="meta">
        <p>
            Developed by <a href="https://github.com/Defite/astro-blog"
                >Defite</a
            > with <a href="https://astro.build/">Astro</a>, inspired by <a
                href="https://track-demo.superthemes.co/">Track</a
            >
        </p>
    </div>

    <style>
        .footer {
            @apply text-sm;
            @apply text-center;
            @apply mt-24;
            @apply pb-12;
            @apply dark:text-neutral-300;
        }
        .ul {
            @apply mb-4;
        }
        .li {
            @apply my-1;
            @apply mx-2;
            @apply inline-block;
        }

        .meta {
            @apply text-gray-400;
        }

        .meta a {
            @apply text-gray-700;
            @apply dark:text-gray-500;
        }
    </style>
</footer>
