---
import "@fontsource/ibm-plex-sans/700-italic.css";
import Logo from "./Logo.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<header class="mb-11 md:mb-20 pt-8 px-4 container max-w-[780px] mx-auto">
    <div class="text-center md:text-left">
        <Logo type="header" />
        <div class="mt-4">
            <div class="text-[#757575] dark:text-stone-400">
                {SITE_DESCRIPTION}
            </div>
        </div>
    </div>
</header>
