---
export interface Props {
    type: "header" | "footer";
}

const { type } = Astro.props;
---

<a
    href="/"
    class:list={[
        "logo text-[#34383b] dark:text-neutral-600",
        { "footer-logo": type === "footer" },
    ]}>Defite<span class="text-lime-500">.</span></a
>

<style>
    .logo {
        @apply text-6xl;
        @apply italic;
        font-family: "IBM Plex Sans", sans-serif;
        font-variant-alternates: normal;
    }

    .footer-logo {
        @apply text-4xl;
    }
</style>
