---
import MdxImage from "./MdxImage.astro";

export interface Props {
  items: string[];
  width: number;
  withUrl?: boolean;
}

const { items, width, withUrl } = Astro.props;
---

<div class="mdx-gallery-grid">
  {
    items.map((item) => (
      <MdxImage
        src={`/src/assets/${item}`}
        width={width}
        alt={`${item}`}
        withUrl={withUrl}
      />
    ))
  }
</div>

<style>
  @reference "../styles/global.css";
  
  .mdx-gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 697px));
    gap: 20px;
    margin-top: 1em;
    width: calc(100vw - 40px);
  }

  .mdx-gallery-grid > :global(.figure) {
    margin-top: 0;
  }

  @screen sm {
    .mdx-gallery-grid {
      width: calc(100vw - 80px);
    }
  }
</style>
