---
import { type CollectionEntry, render } from "astro:content";
import Title from "./Title.astro";

interface Props {
  page: CollectionEntry<"pages">;
}

const { page } = Astro.props;
const { title, heroImage } = page.data;

const { Content } = await render(page);
---

<article class="page">
  <header>
    <Title title={title} />

    {
      heroImage && (
        <div class="hero-image">
          <img class="rounded-md mb-4" src={heroImage} alt={heroImage} />
        </div>
      )
    }

    <div class="page-content text-base md:text-lg mb-4">
      <Content />
    </div>
  </header>

  <style>
    .page {
      @apply py-5 px-5 sm:px-9 sm:py-9;
    }

    .hero-image {
      margin-bottom: 3em;
    }

    .page-content {
      @apply font-body;
    }

    .page-content :global(p),
    .page-content :global(figure) {
      margin-top: 1em;
    }

    .page-content :global(a) {
      @apply text-indigo-500;
      @apply border-indigo-500/50;
      @apply border-b-2;
      @apply border-solid;
    }

    .page-content :global(a:hover) {
      @apply border-indigo-500;
    }

    .page:first-child {
      @apply mt-0;
    }

    .read-more {
      @apply text-indigo-500;
    }

    .read-more .hidden-arrow {
      @apply invisible;
    }

    .read-more:hover .hidden-arrow {
      @apply visible;
    }

    /* page elements styling */
    .page-content :global(h2),
    .page-content :global(h3),
    .page-content :global(h4) {
      @apply mt-10;
      @apply mb-4;
      @apply font-bold;
    }

    .page-content :global(h2) {
      @apply text-[1.75rem];
    }

    .page-content :global(h3) {
      @apply text-2xl;
    }
    .page-content :global(h4) {
      @apply text-xl;
    }

    .page-content :global(blockquote) {
      @apply my-12;
      @apply text-xl;
      border-left-width: 4px;
      border-left-style: solid;
      @apply border-l-indigo-600;
      @apply px-6;
      @apply py-1;
    }

    .page-content :global(blockquote p) {
      margin-top: 0;
    }

    .page-content :global(ul),
    .page-content :global(ol) {
      @apply m-6;
    }

    .page-content :global(ol) {
      list-style: revert;
    }

    .page-content :global(ul li),
    .page-content :global(ol li) {
      @apply mb-2;
    }

    .page-content :global(ul li::before) {
      @apply text-indigo-600;
      content: "–";
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }

    .page-content :global(ol li::marker) {
      @apply text-indigo-600;
    }
  </style>
</article>
