---
import type { CollectionEntry } from "astro:content";
import PostCardWide from "./PostCardWide.astro";

export interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<section class="posts-list">
  {posts.map((post) => <PostCardWide post={post} />)}
</section>

<style>
  .posts-list {
    @apply py-5 px-5 sm:px-9 sm:py-9;
  }
</style>
