<span class="quick-badge">Quick note</span>

<style>
  @reference "../styles/global.css";
  
  .quick-badge {
    @apply text-sm inline-flex items-center self-center rounded-md bg-yellow-300 px-2 py-1 font-medium text-yellow-800 inset-ring inset-ring-yellow-500;
  }
</style>