---
import "../styles/global.css";

import "@fontsource/source-sans-pro/700.css";
import "@fontsource-variable/open-sans";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
// import { SEO } from "astro-seo";
import SeoMeta from "../components/SeoMeta.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const { pathname } = Astro.url;
const isMainPage = pathname === "/";
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SeoMeta title={title} description={description} />
  </head>
  <body class="h-full flex items-center flex-col">
    <Header isIntro={isMainPage} />
    <section>
      <slot />
    </section>
    <Footer />
    <SpeedInsights />
  </body>
</html>
